.title{
    margin: 0;
    padding-bottom: 25px;
    font-family: 'Kaushan Script', cursive;
    color: #292929;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.02em;
}