@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 50%;
  padding: 0 20px;
  margin: 25px 0;


  .imgContainer {
    width: 100%;
    height: 190px;
    background-color: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    &:hover .img {
      opacity: 0.3;
    }

    &:hover .link {
      opacity: 1;
    }

    .img {
      width: 100%;
      object-fit: cover;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .link {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 4px 8px;

    .title {
      margin: 10px 0;
      text-transform: uppercase;
      @include text($titleColor, 13px, 0.1em, 500, 20px, $fontFamily);
    }

    .text {
      margin: 0;
      padding: 0;
      text-align: left !important;
      @include text($textColor, 13px, 0.02em, 300, 22px, $fontFamily);
    }
  }

  @media screen and (max-width: 630px) {
    width: 100%;
  }

  @media screen and (min-width: 1060px) {
    width: 33%;
  }
}







