@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 50%;

  .imgContainer {
    width: 100%;
    height: 140px;
    background-color: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 4px 8px;

    .title {
      margin: 10px 0;
      text-transform: uppercase;
      @include text($titleColor, 13px, 0.1em, 500, 20px, $fontFamily);
    }

    .text {
      margin: 0;
      padding: 0;
      text-align: left !important;
      @include text($textColor, 13px, 0.02em, 300, 22px, $fontFamily);
    }
  }

  @media screen and (max-width: 630px) {
    width: 100%;
  }

  @media screen and (min-width: 1060px) {
    width: 33%;
  }
}







