@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.header {
    padding: 25px 35px;
    height: 80px;
    background-color: $bgColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0 10px 20px 0;
}