.block {
    background-color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #898989;
    padding: 120px 0;
    line-height: 20px;
    letter-spacing: 0.02em;
    font-weight: 300;
    height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 630px) {
    .container {
        padding: 0 5%;
    }
}