.footer {
    background-color: #e6a7e7;
}

.footerContainer {
    border: 1px solid;
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.icons {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #fff;
}